* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.HeroWrapper {
    padding: 40px;
    margin: auto;
  }

  .slick-slide img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
  }